# Assignment 3 - Pandas Data Analysis Practice

*This assignment is a part of the course ["Data Analysis with Python: Zero to Pandas"](https://jovian.ai/learn/data-analysis-with-python-zero-to-pandas)*

In this assignment, you'll get to practice some of the concepts and skills covered in this tutorial: https://jovian.ai/aakashns/python-pandas-data-analysis

As you go through this notebook, you will find a **???** in certain places. To complete this assignment, you must replace all the **???** with appropriate values, expressions or statements to ensure that the notebook runs properly end-to-end. 

Some things to keep in mind:

* Make sure to run all the code cells, otherwise you may get errors like `NameError` for undefined variables.
* Do not change variable names, delete cells or disturb other existing code. It may cause problems during evaluation.
* In some cases, you may need to add some code cells or new statements before or after the line of code containing the **???**. 
* Since you'll be using a temporary online service for code execution, save your work by running `jovian.commit` at regular intervals.
* Questions marked **(Optional)** will not be considered for evaluation, and can be skipped. They are for your learning.

You can make submissions on this page: https://jovian.ai/learn/data-analysis-with-python-zero-to-pandas/assignment/assignment-3-pandas-practice

If you are stuck, you can ask for help on the community forum: https://jovian.ai/forum/t/assignment-3-pandas-practice/11225/3. You can get help with errors or ask for hints, describe your approach in simple words, link to documentation, but **please don't ask for or share the full working answer code** on the forum.


## How to run the code and save your work

The recommended way to run this notebook is to click the "Run" button at the top of this page, and select "Run on Binder". This will run the notebook on [mybinder.org](https://mybinder.org), a free online service for running Jupyter notebooks. 

Before starting the assignment, let's save a snapshot of the assignment to your Jovian.ai profile, so that you can access it later, and continue your work.

In [2]:
import jovian

In [3]:
jovian.commit(project='pandas-practice-assignment', environment=None)

[jovian] Updating notebook "vinodkumar-123/pandas-practice-assignment" on https://jovian.com
[jovian] Committed successfully! https://jovian.com/vinodkumar-123/pandas-practice-assignment

'https://jovian.com/vinodkumar-123/pandas-practice-assignment'

In [4]:
# Run the next line to install Pandas
!pip install pandas --upgrade

Requirement already satisfied: pandas in /opt/conda/lib/python3.9/site-packages (1.5.3)
Requirement already satisfied: pytz>=2020.1 in /opt/conda/lib/python3.9/site-packages (from pandas) (2021.3)
Requirement already satisfied: numpy>=1.20.3 in /opt/conda/lib/python3.9/site-packages (from pandas) (1.20.3)
Requirement already satisfied: python-dateutil>=2.8.1 in /opt/conda/lib/python3.9/site-packages (from pandas) (2.8.2)
Requirement already satisfied: six>=1.5 in /opt/conda/lib/python3.9/site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)

In [5]:
import pandas as pd

In this assignment, we're going to analyze an operate on data from a CSV file. Let's begin by downloading the CSV file.

In [6]:
from urllib.request import urlretrieve

urlretrieve('https://gist.githubusercontent.com/aakashns/28b2e504b3350afd9bdb157893f9725c/raw/994b65665757f4f8887db1c85986a897abb23d84/countries.csv', 
            'countries.csv')

('countries.csv', <http.client.HTTPMessage at 0x7fd99d40d7f0>)

Let's load the data from the CSV file into a Pandas data frame.

In [7]:
countries_df = pd.read_csv('countries.csv')

In [8]:
countries_df

,location,continent,population,life_expectancy,hospital_beds_per_thousand,gdp_per_capita
0,Afghanistan,Asia,38928341.0,64.83,0.50,1803.987
1,Albania,Europe,2877800.0,78.57,2.89,11803.431
2,Algeria,Africa,43851043.0,76.88,1.90,13913.839
3,Andorra,Europe,77265.0,83.73,NaN,NaN
4,Angola,Africa,32866268.0,61.15,NaN,5819.495
...,...,...,...,...,...,...
205,Vietnam,Asia,97338583.0,75.40,2.60,6171.884
206,Western Sahara,Africa,597330.0,70.26,NaN,NaN
207,Yemen,Asia,29825968.0,66.12,0.70,1479.147
208,Zambia,Africa,18383956.0,63.89,2.00,3689.251
209,Zimbabwe,Africa,14862927.0,61.49,1.70,1899.775

**Q1: How many countries does the dataframe contain?**

Hint: Use the `.shape` method.

In [9]:
num_countries =countries_df.shape

In [10]:
print('There are {} countries in the dataset'.format(num_countries))

There are (210, 6) countries in the dataset

In [11]:
jovian.commit(project='pandas-practice-assignment', environment=None)

[jovian] Updating notebook "vinodkumar-123/pandas-practice-assignment" on https://jovian.com
[jovian] Committed successfully! https://jovian.com/vinodkumar-123/pandas-practice-assignment

'https://jovian.com/vinodkumar-123/pandas-practice-assignment'

**Q2: Retrieve a list of continents from the dataframe?**

*Hint: Use the `.unique` method of a series.*

In [12]:
continents =countries_df.continent.unique()

In [13]:
continents

array(['Asia', 'Europe', 'Africa', 'North America', 'South America',
       'Oceania'], dtype=object)

In [14]:
jovian.commit(project='pandas-practice-assignment', environment=None)

[jovian] Updating notebook "vinodkumar-123/pandas-practice-assignment" on https://jovian.com
[jovian] Committed successfully! https://jovian.com/vinodkumar-123/pandas-practice-assignment

'https://jovian.com/vinodkumar-123/pandas-practice-assignment'

**Q3: What is the total population of all the countries listed in this dataset?**

In [15]:
total_population =countries_df.population.sum()

In [16]:
print('The total population is {}.'.format(int(total_population)))

The total population is 7757980095.

In [17]:
jovian.commit(project='pandas-practice-assignment', environment=None)

[jovian] Updating notebook "vinodkumar-123/pandas-practice-assignment" on https://jovian.com
[jovian] Committed successfully! https://jovian.com/vinodkumar-123/pandas-practice-assignment

'https://jovian.com/vinodkumar-123/pandas-practice-assignment'

**Q: (Optional) What is the overall life expectancy across in the world?**

*Hint: You'll need to take a weighted average of life expectancy using populations as weights.*

In [18]:
Weighted_average=countries_df.life_expectancy*countries_df.population/2

In [19]:
Weighted_average.sum()/total_population

36.36082596704832

In [20]:
jovian.commit(project='pandas-practice-assignment', environment=None)

[jovian] Updating notebook "vinodkumar-123/pandas-practice-assignment" on https://jovian.com
[jovian] Committed successfully! https://jovian.com/vinodkumar-123/pandas-practice-assignment

'https://jovian.com/vinodkumar-123/pandas-practice-assignment'

**Q4: Create a dataframe containing 10 countries with the highest population.**

*Hint: Chain the `sort_values` and `head` methods.*

In [21]:
most_populous_df =countries_df.sort_values('population',ascending=False).head()

In [22]:
most_populous_df

,location,continent,population,life_expectancy,hospital_beds_per_thousand,gdp_per_capita
41,China,Asia,1.439324e+09,76.91,4.34,15308.712
90,India,Asia,1.380004e+09,69.66,0.53,6426.674
199,United States,North America,3.310026e+08,78.86,2.77,54225.446
91,Indonesia,Asia,2.735236e+08,71.72,1.04,11188.744
145,Pakistan,Asia,2.208923e+08,67.27,0.60,5034.708

In [23]:
jovian.commit(project='pandas-practice-assignment', environment=None)

[jovian] Updating notebook "vinodkumar-123/pandas-practice-assignment" on https://jovian.com
[jovian] Committed successfully! https://jovian.com/vinodkumar-123/pandas-practice-assignment

'https://jovian.com/vinodkumar-123/pandas-practice-assignment'

**Q5: Add a new column in `countries_df` to record the overall GDP per country (product of population & per capita GDP).**

In [24]:
countries_df['gdp'] =countries_df.population*countries_df.gdp_per_capita

In [25]:
countries_df

,location,continent,population,life_expectancy,hospital_beds_per_thousand,gdp_per_capita,gdp
0,Afghanistan,Asia,38928341.0,64.83,0.50,1803.987,7.022622e+10
1,Albania,Europe,2877800.0,78.57,2.89,11803.431,3.396791e+10
2,Algeria,Africa,43851043.0,76.88,1.90,13913.839,6.101364e+11
3,Andorra,Europe,77265.0,83.73,NaN,NaN,NaN
4,Angola,Africa,32866268.0,61.15,NaN,5819.495,1.912651e+11
...,...,...,...,...,...,...,...
205,Vietnam,Asia,97338583.0,75.40,2.60,6171.884,6.007624e+11
206,Western Sahara,Africa,597330.0,70.26,NaN,NaN,NaN
207,Yemen,Asia,29825968.0,66.12,0.70,1479.147,4.411699e+10
208,Zambia,Africa,18383956.0,63.89,2.00,3689.251,6.782303e+10
209,Zimbabwe,Africa,14862927.0,61.49,1.70,1899.775,2.823622e+10

In [26]:
jovian.commit(project='pandas-practice-assignment', environment=None)

[jovian] Updating notebook "vinodkumar-123/pandas-practice-assignment" on https://jovian.com
[jovian] Committed successfully! https://jovian.com/vinodkumar-123/pandas-practice-assignment

'https://jovian.com/vinodkumar-123/pandas-practice-assignment'

**Q: (Optional) Create a dataframe containing 10 countries with the lowest GDP per capita, among the counties with population greater than 100 million.**

In [27]:
high_pop=countries_df[countries_df.population>100000000]

In [28]:
high_pop1=high_pop.sort_values('gdp')

In [29]:
high_pop1

,location,continent,population,life_expectancy,hospital_beds_per_thousand,gdp_per_capita,gdp
63,Ethiopia,Africa,1.149636e+08,66.60,0.30,1729.927,1.988786e+11
15,Bangladesh,Asia,1.646894e+08,72.59,0.80,3523.984,5.803628e+11
151,Philippines,Asia,1.095811e+08,71.23,1.00,7599.188,8.327273e+11
58,Egypt,Africa,1.023344e+08,71.99,1.60,10550.206,1.079649e+12
141,Nigeria,Africa,2.061396e+08,54.69,NaN,5338.454,1.100467e+12
145,Pakistan,Asia,2.208923e+08,67.27,0.60,5034.708,1.112128e+12
125,Mexico,North America,1.289328e+08,75.05,1.38,17336.469,2.235239e+12
27,Brazil,South America,2.125594e+08,75.88,2.20,14103.452,2.997821e+12
91,Indonesia,Asia,2.735236e+08,71.72,1.04,11188.744,3.060386e+12
157,Russia,Europe,1.459345e+08,72.58,8.05,24765.954,3.614206e+12
99,Japan,Asia,1.264765e+08,84.63,13.05,39002.223,4.932863e+12
90,India,Asia,1.380004e+09,69.66,0.53,6426.674,8.868838e+12
199,United States,North America,3.310026e+08,78.86,2.77,54225.446,1.794877e+13
41,China,Asia,1.439324e+09,76.91,4.34,15308.712,2.203419e+13

In [30]:
jovian.commit(project='pandas-practice-assignment', environment=None)

[jovian] Updating notebook "vinodkumar-123/pandas-practice-assignment" on https://jovian.com
[jovian] Committed successfully! https://jovian.com/vinodkumar-123/pandas-practice-assignment

'https://jovian.com/vinodkumar-123/pandas-practice-assignment'

**Q6: Create a data frame that counts the number countries in each continent?**

*Hint: Use `groupby`, select the `location` column and aggregate using `count`.*

In [31]:
country_counts_df = countries_df.groupby('continent')['continent'].count()

In [32]:
country_counts_df

continent
Africa           55
Asia             47
Europe           51
North America    36
Oceania           8
South America    13
Name: continent, dtype: int64

In [33]:
jovian.commit(project='pandas-practice-assignment', environment=None)

[jovian] Updating notebook "vinodkumar-123/pandas-practice-assignment" on https://jovian.com
[jovian] Committed successfully! https://jovian.com/vinodkumar-123/pandas-practice-assignment

'https://jovian.com/vinodkumar-123/pandas-practice-assignment'

**Q7: Create a data frame showing the total population of each continent.**

*Hint: Use `groupby`, select the population column and aggregate using `sum`.*

In [34]:
continent_populations_df =countries_df.groupby('continent')['population'].sum()

In [35]:
continent_populations_df

continent
Africa           1.339424e+09
Asia             4.607388e+09
Europe           7.485062e+08
North America    5.912425e+08
Oceania          4.095832e+07
South America    4.304611e+08
Name: population, dtype: float64

In [36]:
jovian.commit(project='pandas-practice-assignment', environment=None)

[jovian] Updating notebook "vinodkumar-123/pandas-practice-assignment" on https://jovian.com
[jovian] Committed successfully! https://jovian.com/vinodkumar-123/pandas-practice-assignment

'https://jovian.com/vinodkumar-123/pandas-practice-assignment'

Let's download another CSV file containing overall Covid-19 stats for various countires, and read the data into another Pandas data frame.

In [37]:
urlretrieve('https://gist.githubusercontent.com/aakashns/b2a968a6cfd9fbbb0ff3d6bd0f26262b/raw/b115ed1dfa17f10fc88bf966236cd4d9032f1df8/covid-countries-data.csv', 
            'covid-countries-data.csv')

('covid-countries-data.csv', <http.client.HTTPMessage at 0x7fd99d34bfd0>)

In [38]:
covid_data_df = pd.read_csv('covid-countries-data.csv')

In [39]:
covid_data_df.head()

      location  total_cases  total_deaths  total_tests
0  Afghanistan      38243.0        1409.0          NaN
1      Albania       9728.0         296.0          NaN
2      Algeria      45158.0        1525.0          NaN
3      Andorra       1199.0          53.0          NaN
4       Angola       2729.0         109.0          NaN

**Q8: Count the number of countries for which the `total_tests` data is missing.**

*Hint: Use the `.isna` method.*

In [40]:
total_tests_missing =covid_data_df['total_tests'].isna().sum()

In [41]:
print("The data for total tests is missing for {} countries.".format(int(total_tests_missing)))

The data for total tests is missing for 122 countries.

In [42]:
jovian.commit(project='pandas-practice-assignment', environment=None)

[jovian] Updating notebook "vinodkumar-123/pandas-practice-assignment" on https://jovian.com
[jovian] Committed successfully! https://jovian.com/vinodkumar-123/pandas-practice-assignment

'https://jovian.com/vinodkumar-123/pandas-practice-assignment'

Let's merge the two data frames, and compute some more metrics.

**Q9: Merge `countries_df` with `covid_data_df` on the `location` column.**

*Hint: Use the `.merge` method on `countries_df`.

In [43]:
combined_df = countries_df.merge(covid_data_df, on = "location")

In [44]:
combined_df

,location,continent,population,life_expectancy,hospital_beds_per_thousand,gdp_per_capita,gdp,total_cases,total_deaths,total_tests
0,Afghanistan,Asia,38928341.0,64.83,0.50,1803.987,7.022622e+10,38243.0,1409.0,NaN
1,Albania,Europe,2877800.0,78.57,2.89,11803.431,3.396791e+10,9728.0,296.0,NaN
2,Algeria,Africa,43851043.0,76.88,1.90,13913.839,6.101364e+11,45158.0,1525.0,NaN
3,Andorra,Europe,77265.0,83.73,NaN,NaN,NaN,1199.0,53.0,NaN
4,Angola,Africa,32866268.0,61.15,NaN,5819.495,1.912651e+11,2729.0,109.0,NaN
...,...,...,...,...,...,...,...,...,...,...
205,Vietnam,Asia,97338583.0,75.40,2.60,6171.884,6.007624e+11,1046.0,35.0,261004.0
206,Western Sahara,Africa,597330.0,70.26,NaN,NaN,NaN,766.0,1.0,NaN
207,Yemen,Asia,29825968.0,66.12,0.70,1479.147,4.411699e+10,1976.0,571.0,NaN
208,Zambia,Africa,18383956.0,63.89,2.00,3689.251,6.782303e+10,12415.0,292.0,NaN
209,Zimbabwe,Africa,14862927.0,61.49,1.70,1899.775,2.823622e+10,6638.0,206.0,97272.0

In [45]:
jovian.commit(project='pandas-practice-assignment', environment=None)

[jovian] Updating notebook "vinodkumar-123/pandas-practice-assignment" on https://jovian.com
[jovian] Committed successfully! https://jovian.com/vinodkumar-123/pandas-practice-assignment

'https://jovian.com/vinodkumar-123/pandas-practice-assignment'

**Q10: Add columns `tests_per_million`, `cases_per_million` and `deaths_per_million` into `combined_df`.**

In [46]:
combined_df['tests_per_million'] = combined_df.total_tests * 1e6 / combined_df.population

In [47]:
combined_df['cases_per_million'] =combined_df.total_tests * 1e6 / combined_df.population

In [48]:
combined_df['deaths_per_million'] = combined_df.total_deaths * 1e6 / combined_df.population

In [49]:
combined_df

,location,continent,population,life_expectancy,hospital_beds_per_thousand,gdp_per_capita,gdp,total_cases,total_deaths,total_tests,tests_per_million,cases_per_million,deaths_per_million
0,Afghanistan,Asia,38928341.0,64.83,0.50,1803.987,7.022622e+10,38243.0,1409.0,NaN,NaN,NaN,36.194710
1,Albania,Europe,2877800.0,78.57,2.89,11803.431,3.396791e+10,9728.0,296.0,NaN,NaN,NaN,102.856349
2,Algeria,Africa,43851043.0,76.88,1.90,13913.839,6.101364e+11,45158.0,1525.0,NaN,NaN,NaN,34.776824
3,Andorra,Europe,77265.0,83.73,NaN,NaN,NaN,1199.0,53.0,NaN,NaN,NaN,685.950948
4,Angola,Africa,32866268.0,61.15,NaN,5819.495,1.912651e+11,2729.0,109.0,NaN,NaN,NaN,3.316470
...,...,...,...,...,...,...,...,...,...,...,...,...,...
205,Vietnam,Asia,97338583.0,75.40,2.60,6171.884,6.007624e+11,1046.0,35.0,261004.0,2681.403324,2681.403324,0.359570
206,Western Sahara,Africa,597330.0,70.26,NaN,NaN,NaN,766.0,1.0,NaN,NaN,NaN,1.674116
207,Yemen,Asia,29825968.0,66.12,0.70,1479.147,4.411699e+10,1976.0,571.0,NaN,NaN,NaN,19.144391
208,Zambia,Africa,18383956.0,63.89,2.00,3689.251,6.782303e+10,12415.0,292.0,NaN,NaN,NaN,15.883415
209,Zimbabwe,Africa,14862927.0,61.49,1.70,1899.775,2.823622e+10,6638.0,206.0,97272.0,6544.605918,6544.605918,13.859989

In [50]:
jovian.commit(project='pandas-practice-assignment', environment=None)

[jovian] Updating notebook "vinodkumar-123/pandas-practice-assignment" on https://jovian.com
[jovian] Committed successfully! https://jovian.com/vinodkumar-123/pandas-practice-assignment

'https://jovian.com/vinodkumar-123/pandas-practice-assignment'

**Q11: Create a dataframe with 10 countires that have highest number of tests per million people.**

In [51]:
highest_tests_df = combined_df.sort_values('tests_per_million',ascending = False).head(10)

In [52]:
highest_tests_df

,location,continent,population,life_expectancy,hospital_beds_per_thousand,gdp_per_capita,gdp,total_cases,total_deaths,total_tests,tests_per_million,cases_per_million,deaths_per_million
197,United Arab Emirates,Asia,9890400.0,77.97,1.200,67293.483,6.655595e+11,71540.0,387.0,7177430.0,725696.635121,725696.635121,39.128852
14,Bahrain,Asia,1701583.0,77.29,2.000,43290.705,7.366273e+10,52440.0,190.0,1118837.0,657527.137965,657527.137965,111.660730
115,Luxembourg,Europe,625976.0,82.25,4.510,94277.965,5.901574e+10,7928.0,124.0,385820.0,616349.508607,616349.508607,198.090662
122,Malta,Europe,441539.0,82.53,4.485,36513.323,1.612206e+10,1931.0,13.0,188539.0,427004.183096,427004.183096,29.442473
53,Denmark,Europe,5792203.0,80.90,2.500,46682.515,2.703946e+11,17195.0,626.0,2447911.0,422621.755488,422621.755488,108.076323
96,Israel,Asia,8655541.0,82.97,2.990,33132.320,2.867782e+11,122539.0,969.0,2353984.0,271962.665303,271962.665303,111.951408
89,Iceland,Europe,341250.0,82.99,2.910,46482.958,1.586231e+10,2121.0,10.0,88829.0,260304.761905,260304.761905,29.304029
157,Russia,Europe,145934460.0,72.58,8.050,24765.954,3.614206e+12,1005000.0,17414.0,37176827.0,254750.159763,254750.159763,119.327539
199,United States,North America,331002647.0,78.86,2.770,54225.446,1.794877e+13,6114406.0,185744.0,83898416.0,253467.507769,253467.507769,561.155633
10,Australia,Oceania,25499881.0,83.44,3.840,44648.710,1.138537e+12,25923.0,663.0,6255797.0,245326.517406,245326.517406,26.000121

In [53]:
highest_tests_df['location'].value_counts()

United Arab Emirates    1
Bahrain                 1
Luxembourg              1
Malta                   1
Denmark                 1
Israel                  1
Iceland                 1
Russia                  1
United States           1
Australia               1
Name: location, dtype: int64

In [54]:
jovian.commit(project='pandas-practice-assignment', environment=None)

[jovian] Updating notebook "vinodkumar-123/pandas-practice-assignment" on https://jovian.com
[jovian] Committed successfully! https://jovian.com/vinodkumar-123/pandas-practice-assignment

'https://jovian.com/vinodkumar-123/pandas-practice-assignment'

**Q12: Create a dataframe with 10 countires that have highest number of positive cases per million people.**

In [55]:
highest_cases_df = combined_df.sort_values('cases_per_million').head(10)

In [56]:
highest_cases_df

,location,continent,population,life_expectancy,hospital_beds_per_thousand,gdp_per_capita,gdp,total_cases,total_deaths,total_tests,tests_per_million,cases_per_million,deaths_per_million
141,Nigeria,Africa,206139587.0,54.69,NaN,5338.454,1.100467e+12,54463.0,1027.0,405916.0,1969.131722,1969.131722,4.982061
205,Vietnam,Asia,97338583.0,75.40,2.60,6171.884,6.007624e+11,1046.0,35.0,261004.0,2681.403324,2681.403324,0.359570
133,Myanmar,Asia,54409794.0,67.13,0.90,5591.597,3.042376e+11,1058.0,6.0,156042.0,2867.902790,2867.902790,0.110274
185,Taiwan,Asia,23816775.0,80.46,NaN,NaN,NaN,489.0,7.0,87646.0,3680.011253,3680.011253,0.293910
91,Indonesia,Asia,273523621.0,71.72,1.04,11188.744,3.060386e+12,180646.0,7616.0,1312477.0,4798.404596,4798.404596,27.844030
46,Cote d'Ivoire,Africa,26378275.0,57.78,NaN,3601.006,9.498833e+10,18161.0,117.0,127804.0,4845.047677,4845.047677,4.435468
188,Thailand,Asia,69799978.0,77.15,2.10,16277.671,1.136181e+12,3427.0,58.0,419970.0,6016.764074,6016.764074,0.830946
209,Zimbabwe,Africa,14862927.0,61.49,1.70,1899.775,2.823622e+10,6638.0,206.0,97272.0,6544.605918,6544.605918,13.859989
190,Togo,Africa,8278737.0,61.04,0.70,1429.813,1.183705e+10,1434.0,30.0,54709.0,6608.375166,6608.375166,3.623741
63,Ethiopia,Africa,114963583.0,66.60,0.30,1729.927,1.988786e+11,54409.0,846.0,869430.0,7562.655732,7562.655732,7.358852

In [57]:
jovian.commit(project='pandas-practice-assignment', environment=None)

[jovian] Updating notebook "vinodkumar-123/pandas-practice-assignment" on https://jovian.com
[jovian] Committed successfully! https://jovian.com/vinodkumar-123/pandas-practice-assignment

'https://jovian.com/vinodkumar-123/pandas-practice-assignment'

**Q13: Create a dataframe with 10 countires that have highest number of deaths cases per million people?**

In [58]:
highest_deaths_df = combined_df.sort_values('total_deaths').head(10)

In [59]:
highest_deaths_df

,location,continent,population,life_expectancy,hospital_beds_per_thousand,gdp_per_capita,gdp,total_cases,total_deaths,total_tests,tests_per_million,cases_per_million,deaths_per_million
78,Grenada,North America,112519.0,72.40,3.7,13593.877,1.529569e+09,24.0,0.0,NaN,NaN,NaN,0.0
22,Bhutan,Asia,771612.0,71.78,1.7,8708.597,6.719658e+09,227.0,0.0,NaN,NaN,NaN,0.0
33,Cambodia,Asia,16718971.0,69.82,0.8,3645.070,6.094182e+10,274.0,0.0,NaN,NaN,NaN,0.0
189,Timor,Asia,1318442.0,69.50,5.9,6570.102,8.662298e+09,27.0,0.0,NaN,NaN,NaN,0.0
77,Greenland,North America,56772.0,71.70,NaN,NaN,NaN,14.0,0.0,NaN,NaN,NaN,0.0
107,Laos,Asia,7275556.0,67.92,1.5,6397.360,4.654435e+10,22.0,0.0,NaN,NaN,NaN,0.0
159,Saint Kitts and Nevis,North America,53192.0,76.23,2.3,24654.385,1.311416e+09,17.0,0.0,NaN,NaN,NaN,0.0
128,Mongolia,Asia,3278292.0,69.87,7.0,11840.846,3.881775e+10,306.0,0.0,NaN,NaN,NaN,0.0
161,Saint Vincent and the Grenadines,North America,110947.0,72.53,2.6,10727.146,1.190145e+09,61.0,0.0,NaN,NaN,NaN,0.0
203,Vatican,Europe,809.0,75.12,NaN,NaN,NaN,12.0,0.0,NaN,NaN,NaN,0.0

In [60]:
jovian.commit(project='pandas-practice-assignment', environment=None)

[jovian] Updating notebook "vinodkumar-123/pandas-practice-assignment" on https://jovian.com
[jovian] Committed successfully! https://jovian.com/vinodkumar-123/pandas-practice-assignment

'https://jovian.com/vinodkumar-123/pandas-practice-assignment'

**(Optional) Q: Count number of countries that feature in both the lists of "highest number of tests per million" and "highest number of cases per million".**

In [61]:
highest_cases_df.head(2)

,location,continent,population,life_expectancy,hospital_beds_per_thousand,gdp_per_capita,gdp,total_cases,total_deaths,total_tests,tests_per_million,cases_per_million,deaths_per_million
141,Nigeria,Africa,206139587.0,54.69,NaN,5338.454,1.100467e+12,54463.0,1027.0,405916.0,1969.131722,1969.131722,4.982061
205,Vietnam,Asia,97338583.0,75.40,2.6,6171.884,6.007624e+11,1046.0,35.0,261004.0,2681.403324,2681.403324,0.359570

In [62]:
merged=highest_cases_df.sort_values('tests_per_million',ascending=False)
merged.head(2)

,location,continent,population,life_expectancy,hospital_beds_per_thousand,gdp_per_capita,gdp,total_cases,total_deaths,total_tests,tests_per_million,cases_per_million,deaths_per_million
63,Ethiopia,Africa,114963583.0,66.60,0.3,1729.927,1.988786e+11,54409.0,846.0,869430.0,7562.655732,7562.655732,7.358852
190,Togo,Africa,8278737.0,61.04,0.7,1429.813,1.183705e+10,1434.0,30.0,54709.0,6608.375166,6608.375166,3.623741

In [63]:
common_df = merged[merged['cases_per_million'].notna()]

In [64]:
print("Number  of countries that feature in both highesst number of tests per million and highest number of cases",format(len(list(common_df))))

Number  of countries that feature in both highesst number of tests per million and highest number of cases 13

In [65]:
jovian.commit(project='pandas-practice-assignment', environment=None)

[jovian] Updating notebook "vinodkumar-123/pandas-practice-assignment" on https://jovian.com
[jovian] Committed successfully! https://jovian.com/vinodkumar-123/pandas-practice-assignment

'https://jovian.com/vinodkumar-123/pandas-practice-assignment'

**(Optional) Q: Count number of countries that feature in both the lists "20 countries with lowest GDP per capita" and "20 countries with the lowest number of hospital beds per thousand population". Only consider countries with a population higher than 10 million while creating the list.**

In [66]:
highest_cases_df.head(2)

,location,continent,population,life_expectancy,hospital_beds_per_thousand,gdp_per_capita,gdp,total_cases,total_deaths,total_tests,tests_per_million,cases_per_million,deaths_per_million
141,Nigeria,Africa,206139587.0,54.69,NaN,5338.454,1.100467e+12,54463.0,1027.0,405916.0,1969.131722,1969.131722,4.982061
205,Vietnam,Asia,97338583.0,75.40,2.6,6171.884,6.007624e+11,1046.0,35.0,261004.0,2681.403324,2681.403324,0.359570

In [67]:
merged=highest_cases_df.sort_values('gdp_per_capita',ascending=False)

In [68]:
common_df = merged[merged['cases_per_million'].notna()]

In [69]:
print("Number  of countries that feature in both highesst number of tests per million and highest number of cases",format(len(list(common_df))))

Number  of countries that feature in both highesst number of tests per million and highest number of cases 13

In [70]:
import jovian

In [71]:
jovian.commit(project='pandas-practice-assignment', environment=None)

[jovian] Updating notebook "vinodkumar-123/pandas-practice-assignment" on https://jovian.com
[jovian] Committed successfully! https://jovian.com/vinodkumar-123/pandas-practice-assignment

'https://jovian.com/vinodkumar-123/pandas-practice-assignment'

## Submission 

Congratulations on making it this far! You've reached the end of this assignment, and you just completed your first real-world data analysis problem. It's time to record one final version of your notebook for submission.

Make a submission here by filling the submission form: https://jovian.ai/learn/data-analysis-with-python-zero-to-pandas/assignment/assignment-3-pandas-practice

Also make sure to help others on the forum: https://jovian.ai/forum/t/assignment-3-pandas-practice/11225/2